<modal alpha="0">
	<view vKey="maskView" frame="|-0-[]-0-|,|-0-[]-0-|" backgroundColor="#40000000"></view>
	<view vKey="messageView" frame="107,200,200,300" cornerRadius="6.0" backgroundColor="#ffffff" shadowColor="#000000"
		shadowOpacity="0.25" shadowOffset="0,2.5" shadowRadius="22.5">
        <label vKey="titleLabel" font="17,bold" textColor="#333333" lines="1" frame="0,20,-1,*" align="center"></label>
        <label vKey="messageLabel" font="16" textColor="#5a5a5a" lines="0" lineHeight="25" frame="|-25-[1000],|-50-[*]"></label>
        <pixelline frame="|-0-[]-0-|,<-18-[_]"></pixelline>
        <view vkey="buttonView" frame="|-0-[]-0-|,<-0-[44]"></view>
	</view>
</modal>